/****************
* landings page *
*****************/

.home{
	height: 90vh;
	width: 100%;
	position: relative;
  background: $bg-section-home no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;

	h1 {
		position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
		color: $white;
		font-size: 3.2em;
		font-family: avenir-bold;
		text-align: center;
	}
}
