body {
  margin: 0;
  font-family: museo;
}

.uppercase {
  text-transform: uppercase;
}

.highlight-color {
  color: $bg-button;
}

.btn-blue {
  border: none;
  background-color: $bg-button;
  color: $white;
}
