.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 50px;
  color: $black;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .buy {
    border: 1px solid white;
    background-color: #2db2ff;
    border-radius: 10px;
    padding: 6px 15px;
    color: $white;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

    a,
    a:hover,
    a:visited {
      color: $black;
      text-decoration: none;
      align-self: center;
    }
  }

}
